/* jetbrains-mono-300 - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/jetbrains-mono-v6-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/jetbrains-mono-v6-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/jetbrains-mono-v6-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/jetbrains-mono-v6-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/jetbrains-mono-v6-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/jetbrains-mono-v6-latin-300.svg#JetBrainsMono") format("svg"); /* Legacy iOS */
}

/* jetbrains-mono-700 - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/jetbrains-mono-v6-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/jetbrains-mono-v6-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/jetbrains-mono-v6-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/jetbrains-mono-v6-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/jetbrains-mono-v6-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/jetbrains-mono-v6-latin-700.svg#JetBrainsMono") format("svg"); /* Legacy iOS */
}

/* jetbrains-mono-300italic - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 300;
  src: url("fonts/jetbrains-mono-v6-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/jetbrains-mono-v6-latin-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/jetbrains-mono-v6-latin-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/jetbrains-mono-v6-latin-300italic.woff") format("woff"),
    /* Modern Browsers */ url("fonts/jetbrains-mono-v6-latin-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/jetbrains-mono-v6-latin-300italic.svg#JetBrainsMono")
      format("svg"); /* Legacy iOS */
}

/* jetbrains-mono-700italic - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/jetbrains-mono-v6-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/jetbrains-mono-v6-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/jetbrains-mono-v6-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/jetbrains-mono-v6-latin-700italic.woff") format("woff"),
    /* Modern Browsers */ url("fonts/jetbrains-mono-v6-latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/jetbrains-mono-v6-latin-700italic.svg#JetBrainsMono")
      format("svg"); /* Legacy iOS */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--fg);
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 150%;
  letter-spacing: 0.02em;
}

body {
  --bg: #ddd;
  --fg: rgb(14, 11, 11);
  --overlay: #7773;
  --grey: #777a;
  --lightblue: #47a7;
}

body.dark {
  --bg: rgb(14, 11, 11);
  --fg: #ddd;
  --overlay: #7772;
  --grey: #7777;
  --lightblue: #47aa;
}

button {
  display: flex;
  opacity: 0.6;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--overlay);
}

button:active {
  opacity: 1;
}

#themeButtonDesktop,
#themeButtonMobile {
  border-radius: 50%;
  padding: 0.5rem;
}

#themeButtonMobile {
  display: none;
}

html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(16px + 0.3vw + 0.3vh);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px calc(12px + 2vw);
  background-color: var(--overlay);
}

.logo,
.logo-extend {
  white-space: nowrap;
}

.header-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

main {
  height: 100%;
  width: 100%;
  padding: calc(2vw + 2vh) 7vw;
  overflow-y: auto;
  align-self: center;
}

.content-wrapper {
  max-width: 43rem;
  margin: 2rem auto;
}

p,
ul {
  margin: 2rem auto;
}

p,
li {
  font-size: 0.8em;
}

nav {
  font-size: 0.7em;
  line-height: 1.7em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

nav * {
  white-space: nowrap;
}

nav > *:not(:last-child) {
  margin-right: 0.2em;
}

img {
  max-height: 7em;
  max-width: 100%;
  border-radius: 10px;
}

.img-full-width {
  max-height: 100%;
  max-width: 100%;
}

a {
  color: var(--fg);
  border-bottom: 2px solid var(--grey);
  text-decoration: none;
  padding-bottom: 1px;
  opacity: 0.7;
}

a:hover,
a:focus {
  opacity: 0.85;
}

a:active {
  opacity: 1;
}

mark {
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  background-color: var(--fg);
  color: var(--bg);
  display: inline;
  padding: 2px 7px;
  /* Needs prefixing */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.inline-p {
  margin-top: -0.7em;
}

.inline-mark {
  padding: 1px 7px;
}

ul li:not(:last-child),
ol li:not(:last-child) {
  padding-bottom: 1.15em;
}

ul {
  padding-left: 1.5em;
}

li {
  padding-left: 0;
}

li::marker {
  content: "→ ";
}

/* todo */
tt {
  color: #aaa;
}

.arrow-list {
  margin: 0;
}

.arrow-list:not(:last-child) {
  padding-bottom: 0.5em;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-anchor {
  margin-right: 0.5rem;
  border: none;
}

.logo {
  font-size: 0.9em;
  margin: 0;
  text-decoration: none;
}

header > a {
  border: none;
}

.logo-extend {
  font-size: 0.87rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.15;
  margin: 1.25em 0;
}

h1 {
  font-size: 1.15em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.85em;
}

.post-title {
  padding-right: 0.3em;
  line-height: 1.4;
}

.blog-nav {
  font-size: 0.7em;
}

.blog-nav a {
  height: 1.3em;
}

.post-header {
  margin-bottom: 0.2em;
}

.post-meta {
  line-height: 1.3;
  margin-bottom: 2em;
  font-size: 0.95rem;
}

.post-date {
  padding-right: 0.2em;
}

/* todo */
.post-date {
  color: #bbb;
  font-style: italic;
  white-space: nowrap;
}

.tag {
  white-space: nowrap;
}

.tags-list span:not(:last-child) {
  padding-right: 0.25em;
}

#all-tags-list {
  padding-left: 0;
}

#all-tags-list li {
  padding-bottom: 0.5em;
  font-size: 0.8em;
}

#all-tags-list li::marker {
  content: "";
}

.browse-by-tag {
  font-size: 0.7em;
  margin: 1em 0;
}

.hashtag {
  color: var(--grey);
  padding-right: 1px;
}

.blog-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.tags-nav {
  margin: 0 0 -0.5em;
}

.no-bottom-margin {
  margin-bottom: 0;
}

form {
  margin: 20px 0;
}

input[type="email"] {
  font-family: "Ubuntu Mono", um, monospace;
  font-size: 0.7em;
  border: none;
  height: 20px;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  min-height: 30px;
  margin-bottom: 13px;
  text-align: center;
}

.button {
  font-family: "Ubuntu Mono", um, monospace;
  font-size: 0.7em;
  border: 1px solid var(--fg);
  background-color: transparent;
  color: var(--fg);
  border-radius: 3px;
  height: 35px;
  display: block;
  min-width: 100%;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(17, 14, 14);
  border: 1px solid #eee;
  color: #eee;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid transparent;
  margin: -5px;
}

.direct-link {
  opacity: 0.35;
  font-weight: normal;
  font-style: normal;
  font-size: 80%;
  border-bottom: none;
}

.direct-link:hover {
  opacity: 0.45;
  border-bottom: none;
}

@media screen and (max-width: 599px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  nav {
    margin-top: 0.3rem;
  }

  .header-wrapper {
    flex-grow: 0;
    width: 100%;
  }

  #themeButtonDesktop {
    display: none;
  }

  #themeButtonMobile {
    display: flex;
  }
}
