---
permalink: /keybase.txt
---
==================================================================
https://keybase.io/activefog
--------------------------------------------------------------------

I hereby claim:

  * I am an admin of https://sjc.sh
  * I am activefog (https://keybase.io/activefog) on keybase.
  * I have a public key ASAG-GV7NfPhwcLATIe1fvv4yKb7TJ9zYAhcD2nsW8IlYwo

To do so, I am signing this object:

{
  "body": {
    "key": {
      "eldest_kid": "012006f8657b35f3e1c1c2c04c87b57efbf8c8a6fb4c9f7360085c0f69ec5bc225630a",
      "host": "keybase.io",
      "kid": "012006f8657b35f3e1c1c2c04c87b57efbf8c8a6fb4c9f7360085c0f69ec5bc225630a",
      "uid": "6ce5a89299981cc1658d2d5dc02ef819",
      "username": "activefog"
    },
    "merkle_root": {
      "ctime": 1623275571,
      "hash": "b2c20b290c18272a22c4888347f8ea811c87b356a6b53ea63d70f143f560a3a7585b7f7efaea6a3194f5ad189801ee15ba2114323704e990d4afc630343c448d",
      "hash_meta": "5aa9eb54ae1652235113ea8da8210352732c3bcf6781cab42468fa43466a7fc6",
      "seqno": 20150810
    },
    "service": {
      "entropy": "Jn4uVMHBeN59jqg5oDVu2xEJ",
      "hostname": "sjc.sh",
      "protocol": "https:"
    },
    "type": "web_service_binding",
    "version": 2
  },
  "client": {
    "name": "keybase.io go client",
    "version": "5.6.2"
  },
  "ctime": 1623275589,
  "expire_in": 504576000,
  "prev": "a1418356cb87374380c093b05db687e9c08a11c55cb455c782caa481ba029335",
  "seqno": 5,
  "tag": "signature"
}

which yields the signature:

hKRib2R5hqhkZXRhY2hlZMOpaGFzaF90eXBlCqNrZXnEIwEgBvhlezXz4cHCwEyHtX77+Mim+0yfc2AIXA9p7FvCJWMKp3BheWxvYWTESpcCBcQgoUGDVsuHN0OAwJOwXbaH6cCKEcVctFXHgsqkgboCkzXEIFMwYSD14juUOZ/E0fPpvk1Z/eE44XiCg/5X5IY2aWNrAgHCo3NpZ8RAp4MvJ1vuPtc00xI0aMAATYavLnUHsjJiEeLmgGesKf6qMu95usU0hrr7+JrIZmTThx+BT3pSTDPHtdCewxM1BahzaWdfdHlwZSCkaGFzaIKkdHlwZQildmFsdWXEICAR4/13/OeExEOGi+6APc1hokzzSsG9m9IzVp6TXqgZo3RhZ80CAqd2ZXJzaW9uAQ==

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/activefog

==================================================================
